<div class="page-header">
  <h1>Cursos programados</h1>
</div>
<table class="table table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>Fecha de inicio</th>
      <th>Fecha de termino</th>
      <th>Puerto</th>
      <th>Curso</th>
      <th>Instructor</th>
      <th>Participantes</th>
      <th>Certificados</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each controller}}
      <tr>
        <td> {{ date fechaDeInicio }} </td>
        <td> {{ date fechaDeTermino }} </td>
        <td> {{ puerto.clave }} - {{ puerto.puerto }} </td>
        <td> {{ curso.clave }} </td>
        <td> {{ instructor.nombre }} </td>
        <td> {{ alumnos.length }} </td>
        <td> {{ view App.CertificadoButton }} </td>
        <td> {{#link-to "edit" this }} Editar {{/link-to}} </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{ outlet }}