<div class="page-header">
  <h1> Datos del alumno </h1>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Número de control</dt>
        <dd>{{ numeroDeControl }}</dd>

        <dt>Nombre completo</dt>
        <dd>{{ nombreCompleto }}</dd>

        <dt>Observaciones</dt>
        <dd>{{ observaciones }}</dd>

        <dt>Monto</dt>
        <dd>{{ monto }}</dd>
      </dl>
    </div>

    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Número de curso</dt>
        <dd>{{ cursoProgramado.id }}</dd>

        <dt>Fecha de inicio</dt>
        <dd>{{ date cursoProgramado.fechaDeInicio }}</dd>

        <dt>Puerto</dt>
        <dd>{{ cursoProgramado.puerto.descripcion }}</dd>

        <dt>Instructor</dt>
        <dd>{{ cursoProgramado.instructor.nombre }}</dd>

        <dt>Curso</dt>
        <dd>
          {{ view Ember.Select prompt="Selecciona un curso : "
                               contentBinding="cursos"
                               optionValuePath="content.clave"
                               optionLabelPath="content.clave"
                               selectionBinding="model.cursoProgramado.curso" }}
        </dd>
      </dl>

      <button class="btn btn-danger btn-large btn-block" {{ action realizarMovimiento }}><i class="icon-warning-sign icon-white"></i> Crear nuevo curso para alumno certificado con el mismo puerto, instructor y fecha, con cambio de categoría</button>
    </div>
  </div>
  </div>

{{ view App.ConfirmDialogView
     elementId="movimientoConfirmDialog"
     okAction="doConfirmarMovimiento"
     cancelAction="doCancelarMovimiento"
     target="controller"
     header="¿Autorizar movimiento?"
     message="¿Está seguro de crear el nuevo curso con un solo alumno? ¡Esta acción no se puede deshacer!"
   }}

{{ view App.ConfirmDialogView
     elementId="duplicacion"
     target="controller"
     header="Datos duplicados"
   }}

