<div class="container-fluid">
  <div class="row-fluid">

    <div class="span4">
      <div class="page-header">
        <h1>Procesar archivo</h1>
      </div>

      <a class="btn btn-primary btn-block" href="/templates/template.xls">
        <i class="icon-white icon-download"></i>
        Para descargar la plantilla de click Aquí
      </a>
      {{ view App.DropzoneView }}
      <button class="btn btn-large btn-block btn-success" {{ action "procesarArchivo" }}><i class="icon-cog icon-white"></i> Procesar </button>
      <button class="btn btn-large btn-block" {{ action "limpiarProceso" }}> Limpiar </button>
    </div>

    <div class="span4">
      <ul>
        {{#each participantes }}
          <li> {{ nombreCompleto }}<small>{{#if observaciones}}-{{ observaciones }}{{/if}}</small></li>
        {{/each}}
      </ul>
    </div>

    {{#if participantes}}
      {{ view App.CursoNuevoFormulario
          target="controller"
          header="Datos del curso"
      }}
    {{/if}}
  </div>
</div>
