<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="page-header">
        <h1> Actualizar curso </h1>
      </div>
      <div class="control-group">
        <label class="control-label" for="datepicker">Fecha de inicio :</label>
        <div class="controls">
          {{ view Ember.TextField valueBinding="fechaDeInicio" disabled="disabled"}}
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="puerto">Puerto :</label>
        <div class="controls">
          {{ view Ember.TextField valueBinding="model.puerto.descripcion" disabled="disabled" }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="instructores">Instructor :</label>
        <div class="controls">
          {{ view Ember.TextField valueBinding="model.instructor.nombre" disabled="disabled" }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="cursos">Curso :</label>
        <div class="controls">
          {{ view Ember.Select prompt="Selecciona un curso : "
                               contentBinding="cursos"
                               optionValuePath="content.clave"
                               optionLabelPath="content.clave"
                               selectionBinding="model.curso" }}
        </div>
      </div>
      <div class="form-actions">
        {{ view App.BootstrapButton 
                content="Actualizar datos del curso" 
                action="actualizarCurso" 
                target="controller" 
                classNames="btn-success"
        }}
      </div>
    </div>
    <div class="span4">
      <div class="page-header">
        <h1>Participante</h1>
      </div>
      <div>
        <div class="control-group">
          <label class="control-label" for="nombreCompleto">Nombre Completo :</label>
          <div class="controls">
            {{ view App.TextField id="nombreCompleto" target="controller" action="actualizar" valueBinding="controller.nombreCompleto" placeholder="Nombre completo" }}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="observaciones">Observaciones :</label>
          <div class="controls">
            {{ view Ember.TextArea valueBinding="observaciones" placeholder="Observaciones" }}
          </div>
        </div>

        <div class="form-actions">
          <button class="btn btn-primary" {{ action "actualizar" }}> Actualizar lista </button>
        </div>
      </div>
    </div>
    <div class="span4" >
      <div class="page-header">
        <h1>Lista de participantes</h1>
      </div>
      {{ view App.EditarParticipantesListView }}
    </div>
  </div>
</div>